.head1{
    font: bold;
    font-size: 245%;
    color: rgb(196.71, 196.71, 196.71);
}

.pg{
    color: rgb(196.71, 196.71, 196.71);;
}

html{
    background-image: linear-gradient(to right, black , gray);
}

.project-button, .form-button, .other-button, .info-button{

    background-color: rgb(160, 160, 160);
    background: 15px;
    height: 27px;
    width: 80px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font: ubuntubold;
    font-weight: 10px;
    margin-right: 25px;
    margin-top: 10px;
    border: 7px;
    border-radius: 10;
    
}

.project-button:hover, .form-button:hover, .other-button:hover, .info-button:hover{
    border: 15px;
    border-radius: 100%;
    height: 20px;
    width: 70px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font: ubuntubold;
    font-weight: 12px;
    margin-right: 36px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: -1px;
}

/* 
    height: 20px;
    width: 70px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font: ubuntubold;
    font-weight: 10px;
    margin-right: 25px;
    margin-top: 10px;
 */






/* import font */
@font-face {
    font-family: 'ubuntubold';
    src: url('ubuntu-bold-webfont.woff2') format('woff2'),
         url('ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}